[data-theme='light'] {
    --primary-black: #0b0c10;
    --primary-light-grey: #c5c6c7;
    --primary-dark-grey: #1f2833;
    --primary-light-blue: #66fcf1;
    --primary-dark-blue: #45a29e;
}

[data-theme='dark'] {
    --primary-black: #0b0c10;
    --primary-light-grey: #c5c6c7;
    --primary-dark-grey: #1f2833;
    --primary-light-blue: #66fcf1;
    --primary-dark-blue: #45a29e;
}
