.cards {
    padding: 2rem;
    display: grid;
    grid: auto-flow 60rem / repeat(auto-fit, minmax(35rem, 35rem));
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}
