:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

[data-theme=light] {
  --primary-background: white;
  --primary-text: #3e4531;
  --primary-header: #d1e5a6;
  --primary-button: #ece099;
  --primary-buttonHover: #f7dc93;
}

[data-theme=dark] {
  --primary-background: #0b0c10;
  --primary-text: #c5c6c7;
  --primary-header: #66fcf1;
  --primary-button: #45a29e;
  --primary-buttonHover: #1f2833;
}

nav .top_nav_menu {
  overflow: hidden;
  width: 100vw;
  height: 7.5rem;
  color: var(--primary-text);
  display: none;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.5px solid lightgrey;
  padding: 3rem;
}
nav .top_nav_menu .logo {
  width: 18rem;
}
nav .top_nav_menu .nav_filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--primary-background);
  border-radius: 30px;
  font-size: 1.3rem;
  font-weight: 600;
}
nav .top_nav_menu .nav_filter span {
  padding: 1rem;
}
nav .top_nav_menu .nav_filter span:hover {
  cursor: pointer;
  color: var(--primary-text);
}
nav .top_nav_menu .nav_filter span:first-of-type {
  border-right: 0.5px dotted lightgray;
}
nav .top_nav_menu .nav_filter span:nth-of-type(2) {
  border-right: 0.5px dotted lightgray;
}
nav .top_nav_menu .nav_menu {
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
}
nav .top_nav_menu a {
  padding: 1.5rem;
  border-radius: 10px;
}
nav .top_nav_menu a:hover {
  color: var(--primary-background);
}

.filter__box__wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter__box__wrapper .filter__box__location {
  padding: 3rem 9rem;
  background-color: var(--primary-text);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--primary-background);
  transition: all 0.3s;
  position: fixed;
  top: 75px;
}
.filter__box__wrapper .filter__box__date {
  padding: 4rem 9rem;
  background-color: var(--primary-text);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--primary-background);
  transition: all 0.3s;
  position: fixed;
  top: 75px;
}
.filter__box__wrapper .filter__box__guests {
  padding: 4rem 9rem;
  background-color: var(--primary-text);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--primary-background);
  transition: all 0.3s;
  position: fixed;
  top: 75px;
}

.button_nav_menu {
  position: fixed;
  bottom: 0;
  background-color: var(--primary-background);
  width: 100vw;
  height: 7.5rem;
  border-top: 0.5px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  gap: 20%;
}
.button_nav_menu a {
  padding: 2rem;
  border-radius: 10px;
}
.button_nav_menu a:hover {
  background-color: var(--primary-header);
  color: var(--primary-background);
}

@media only screen and (min-width: 846px) {
  nav .top_nav_menu {
    display: flex;
    background-color: var(--primary-header);
  }
  nav .top_nav_menu .logo {
    display: block;
  }
  nav .top_nav_menu .nav_menu {
    display: flex;
  }
  .button_nav_menu {
    display: none;
  }
}
.card {
  width: 30rem;
  border-radius: 20px !important;
  margin: 2rem;
  border: none !important;
}
.card .card__details {
  margin-top: 0.5rem;
}
.card .card__details:last-of-type {
  margin-top: 1rem;
}
.card .card__details__rating {
  display: flex;
  align-items: center;
}
.card .card__actions {
  margin-top: -1rem !important;
}

.cards {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media only screen and (min-width: 1080px) {
  .cards {
    justify-content: flex-start;
  }
}
.signin-wrapper {
  max-width: 100rem;
  background-color: var(--primary-background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signin-wrapper-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signin-wrapper-form__email {
  padding: 0.5rem;
}
.signin-wrapper-form__faceBook {
  padding: 2rem;
}
.signin-wrapper-form__google {
  padding: 2rem;
}
.signin-wrapper-form__apple {
  padding: 2rem;
}

/*# sourceMappingURL=index.css.map */
